.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 10%;

    .main-nav-logo {
        display: flex;
        align-items: center;

        .main-nav-logo-image {
            max-width: 100%;
            width: 200px;
        }
    }

    a {
        font-weight: bold;
        color: #2c3e50;
    }


    .main-nav-item {
        text-decoration: none;
        margin-right: 0.5rem;


    }

    .main-nav-user {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        svg {
            margin-right: 0.5rem;
        }
    }

    .main-nav-button {
        border: none;
        background-color: white;

        svg {
            margin: 0 0.5rem;
        }
    }
}


.main-nav a.router-link-exact-active {
    color: #42b983;
}