.header {
    color: #fff;
    margin-bottom: 2rem;
}

.edit-button,
.save-button,
.cancel-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 10%;
    justify-self: center;
}

.edit-inputs {
    input {
        border: none;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 5px;
    }
}

@media (max-width: 768px) {

    .edit-button,
    .save-button,
    .cancel-button {
        width: 25%;
    }
}